certifi==2025.1.31
click==8.1.8
Flask==2.0.2
Flask-Cors==3.0.10
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
multitasking==0.0.11
mysql-connector-python==8.0.29
numpy==1.23.1
pandas==1.4.3
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2025.2
requests==2.32.3
scipy==1.10.1
six==1.17.0
urllib3==2.2.3
Werkzeug==2.2.1
yahoofinancials==1.6
yfinance==0.1.70
