beautifulsoup4==4.13.4
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
curl-cffi==0.11.1
Flask==2.0.2
Flask-Cors==3.0.10
frozendict==2.4.6
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
multitasking==0.0.11
mysql-connector-python==8.0.29
numpy==1.23.1
pandas==1.4.3
peewee==3.18.1
platformdirs==2.0.0
protobuf==3.19.0
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2025.2
requests==2.32.3
requests-cache==1.0
requests-ratelimiter==0.3.1
scipy==1.10.1
six==1.17.0
soupsieve==2.7
typing-extensions==4.13.2
urllib3==2.2.3
websockets==13.0
Werkzeug==2.2.1
wheel==0.45.1
yfinance==0.2.61
